<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendations</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .home-button {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Home Button -->
        <a href="{% url 'AdminPage' %}" class="btn btn-secondary home-button">Home</a>

        <h1 class="my-4">Book Recommendations</h1>
        <a href="{% url 'book_recommendation_create' %}" class="btn btn-primary mb-3">Add New Book</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Rating</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.book_title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.review}}</td>
                    <td>
                        <a href="{% url 'book_recommendation_update' book.pk %}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="{% url 'book_recommendation_delete' book.pk %}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>